<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Gurux.DeviceSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="GuruxDeviceManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Gurux.DeviceSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Gurux.DeviceSuite.Properties.Settings>
   <setting name="ApplicationType" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ShowToolBar" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowStatusBar" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DeviceTreeWidth" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="PropertyTreeWidth" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="EditorHeight" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="DevicesHeight" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="TraceLevel" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UserName" serializeAs="String">
    <value />
   </setting>
   <setting name="Password" serializeAs="String">
    <value />
   </setting>
   <setting name="Bounds" serializeAs="String">
    <value />
   </setting>
   <setting name="TraceFollowLast" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EventFollowLast" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowWizardStartPage" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TraceViewWidth" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="Usermode" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="DCTreeWidth" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="DirectorHeight" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="DCDevicesHeight" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="AmiDBUserName" serializeAs="String">
    <value />
   </setting>
   <setting name="AmiDBPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="AmiHostName" serializeAs="String">
    <value>localhost</value>
   </setting>
   <setting name="AmiDatabaseHostName" serializeAs="String">
    <value />
   </setting>
   <setting name="AmiDatabaseName" serializeAs="String">
    <value>guruxami</value>
   </setting>
   <setting name="AmiUserName" serializeAs="String">
    <value>gurux</value>
   </setting>
   <setting name="AmiPassword" serializeAs="String">
    <value>gurux</value>
   </setting>
   <setting name="AmiDCGuid" serializeAs="String">
    <value>00000000-0000-0000-0000-000000000000</value>
   </setting>
   <setting name="AmiDatabaseTablePrefix" serializeAs="String">
    <value />
   </setting>
   <setting name="ErrorMaximumCount" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="TraceMaximumCount" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="AmiEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DeviceTreeShowDevices" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DeviceTreeShowCategories" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DeviceTreeShowTables" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DeviceTreeShowProperties" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DeviceTreeShowPropertyValue" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CommandPrompSettings" serializeAs="String">
    <value />
   </setting>
   <setting name="UpdateSettings" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowMediaTrace" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="GetDataCollectorsAutomatically" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GetDevicesAutomatically" serializeAs="String">
    <value>True</value>
   </setting>
  </Gurux.DeviceSuite.Properties.Settings>
		<GuruxDeviceManager.Properties.Settings>GXDeviceTypeCollection
            <setting name="UseEditor" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ShowToolBar" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ShowStatusBar" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="DeviceTreeWidth" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="PropertyTreeWidth" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="EditorHeight" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="DirectorHeight" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="TraceLevel" serializeAs="String">
				<value>Off</value>
			</setting>
		</GuruxDeviceManager.Properties.Settings>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-0.85.5.452" newVersion="0.85.5.452"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<applicationSettings>
		<Gurux.DeviceSuite.Properties.Settings>
   <setting name="UpdateServer" serializeAs="String">
    <value>http://www.gurux.org/GuruxDevicePublisher</value>
   </setting>
  </Gurux.DeviceSuite.Properties.Settings>
	</applicationSettings>
	<startup>
    <supportedRuntime version="v2.0.50727"/>
	  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
